.transaction_history {
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightsteelblue;
  height: 700px;
  width: 355px;
  background-color: beige;
}

.table_heading {
  height: 25px;
  background-color: burlywood;
  border: 1px solid black;
}

.table_row {
  height: 20px;
  border: 1px solid black;
}

.table_row:hover,
.table_row:focus {
  background-color: lightpink;
}

.table_data {
  border: 1px solid black;
}
